# Kunal Motghare
Data Science Masters 2.0

## Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
# string 
a = "Thisa is my first assignment "

In [2]:
# list 
b = [1, 2 , 4 , 7 , 8.4]

In [3]:
#float
c = 7.4

In [5]:
# tuple
d = (3 , 4 , 7 , 2 , 9 , 23 ,6 )

# Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.


What will be the data type of the above given variable

In [8]:
 var1 = ''
 var2 = '[ DS , ML , Python]'

 var3 =  [ 'DS', 'ML' , 'Python' ]
 var4 = 1.

In [9]:
type(var1) , type(var2) , type(var3) , type(var4)

(str, str, list, float)

# Answer: 
i) String 
ii) String 
iii) List 
iv) Float

## Q3. Explain the use of the following operators using an example:

(i) /

(ii) %
(iii) //

(iv) **

In [10]:
# / is the division operator 

w = 3/2
w

1.5

In [11]:
# % is modulo operator . It returns only remainder
x = 3%2 
x

1

In [12]:
# // only give quotient of the division without any decimal ponits 
y = 7//2 
y

3

In [13]:
# ** is power operator 

z = 3**2 
z

9

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [14]:
l2 = ["Anamika" ,"Mehak" , 4 , 2 , "Pari", 3 + 7j , 4.6 , True , [1,2,3], (4,7,3)]
len(l2)

10

In [18]:
for i in l2 : 

  print(i , type(i))

Anamika <class 'str'>
Mehak <class 'str'>
4 <class 'int'>
2 <class 'int'>
Pari <class 'str'>
(3+7j) <class 'complex'>
4.6 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
(4, 7, 3) <class 'tuple'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [22]:
A = 5000
B = 5 
i = 0 

while( A//B != 1):
  if A%B != 0 :
    print('A is not divisible by B')
    break
  A = A//B
  i = i+1
else:
  print("A is {} times divisible by B".format(i))

A is 4 times divisible by B

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [28]:
l3 = [ 5 , 6 , 9 , 30 , 10 , 15 , 20 , 25 , 30 , 35 , 40 , 45 , 50 , 55 , 60 , 65 , 70 , 75 , 4 , 8 , 12 ,26 , 24 , 32 , 44  ]

In [29]:
len(l3)

25

In [30]:
for i in l3:
  if i%3 == 0 :
    print("{}is divisible by 3".format(i))
  else:
    print(f"{i} is not divisible by 3")

5 is not divisible by 3
6is divisible by 3
9is divisible by 3
30is divisible by 3
10 is not divisible by 3
15is divisible by 3
20 is not divisible by 3
25 is not divisible by 3
30is divisible by 3
35 is not divisible by 3
40 is not divisible by 3
45is divisible by 3
50 is not divisible by 3
55 is not divisible by 3
60is divisible by 3
65 is not divisible by 3
70 is not divisible by 3
75is divisible by 3
4 is not divisible by 3
8 is not divisible by 3
12is divisible by 3
26 is not divisible by 3
24is divisible by 3
32 is not divisible by 3
44 is not divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

# Answer : Elements in the mutable data types can be changed while elements in the imuutable data types can't be changed . Ex. List is a mutable data type , so its elenmts can be changed , deleted etc. , But , string and tuple in a immutable data types so it's elements can not be changed

In [31]:
# ex
l4 = [4 , 7 , 8 , 9]

l4[1] = 54
l4

[4, 54, 8, 9]

In [32]:
s = "DataScience"

In [33]:
s[0]

'D'

In [34]:
s[0] = 'K'

TypeError: ignored