# Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the range of 1 to 25.

## Answer : "Def" keyword is used to create a function

In [4]:
def odd(l= range(1,26)):
  l2 = []
  for i in l :
    if i%2 != 0:
      l2.append(i)
  return l2

In [5]:
odd()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

# Q.2 Why * args and **kwargs is used in some functions? Create a function each for *args and **kwargs to demonstrate their use.

## *args is used when we don't want to put any limit on number of arguments function can take.And  "**kwargs"  is used when we want our function to be able to take unlimited key value pairs as inputs

In [6]:
def total(*args):
  return sum(args)

In [7]:
total(4,9,6,9,23,6.9 , 77 , 42)

176.9

In [9]:
def test1(**kwargs):
  return kwargs

In [10]:
test1( a = 2 , b = 5 , c = 8 , d = True , e = "Anami")

{'a': 2, 'b': 5, 'c': 8, 'd': True, 'e': 'Anami'}

# Q.3 What is an iterator in python? Name the method used to initialise the iterator object and the method used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20].

## Answer : An iterator is an object that allows you to traverse a container (like a list) and access its elements one by one. It provides a way to loop over the elements without the need for an explicit index or keeping track of the iteration internally

## To create an iterator object in Python, you can use the iter() function. This function takes an iterable object as its argument and returns an iterator object. The iterator object can then be used to iterate over the elements using the next() method

In [15]:
l = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

for i in l[0:5]:
  print(i)

2
4
6
8
10

# Q4. What is a generator function in python? Why yield keyword is used? Give an example of a generator function.

## Answer : A generator function is a special type of function that returns an iterator, which can be iterated over to retrieve a sequence of values. It is defined like a normal function but uses the yield keyword instead of the return keyword to yield values one at a time. 

## The yield keyword is used in generator functions to indicate that a value should be returned, but the state of the function should be saved so that it can be resumed from where it left off in the next iteration. When the generator function is called, it returns a generator object that can be iterated over using the next() function or a for loop. Each time the yield statement is encountered, the function's state is saved, and the yielded value is returned. The next time the generator is iterated, execution resumes from the last yield statement

In [12]:
def gen(n):
  for i in range(1,n):
    yield i**2

In [13]:
for i in gen(26):
  print(i)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625

# Q.5 Create a generator function for prime numbers less than 1000. Use the next() method to print the first 20 prime numbers.

In [32]:
# This function can generate prime numbers upto n 
def prime(n):
  
  for i in range(2,n+1):
    s = []
    for j in range (2,i-1):
      if i%j == 0 :
        s.append(0) 
      else: 
        s.append(1)
    if not (0 in s):
      yield(i)

In [17]:
prime(10)

In [35]:
# generating prime numbers less than 1000
for i in prime(999):
  print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [36]:
# Using next() method to print first 20 prime numbers 

prime_gen = prime(999)

for _ in range(20):
    element = next(prime_gen)
    print(element)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71